.weather-app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.weather-app input {
  padding: 5px;
  margin-right: 5px;
  width: 200px;
}

.weather-app button {
  padding: 5px 10px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.current-weather, .forecast {
  margin-top: 20px;
}

.forecast ul {
  list-style-type: none;
  padding: 0;
}

.forecast li {
  margin-bottom: 5px;
}